@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* * {
  color: #fff;
} */

* {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1184px;
}

.rotate-270 {
  transform: rotate(270deg);
}

.-translate-y-1\/2 {
  transform: translateY(-50%);
}

.-indent-offsite {
  text-indent: -10000px;
}

.w-165 {
  width: 165px;
}

.menu-desktop {
  width: 90px;
  @apply hidden;
}

.m-menu {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .menu-desktop {
    @apply block;
  }
  .menu-mobile {
    @apply hidden;
  }
  .m-menu {
    margin-top:0px;
    margin-right: 90px;
  }
}

/**
* Headlines
*/

.headline {
  @apply text-red uppercase font-bold text-4xl;
}

.subheadline {
  @apply text-red font-semibold text-2xl;
}

.min-80-screen {
  min-height: 80vh;
}

@screen lg {
  .headline {
    @apply text-6xl;
  }
}

@screen sm {
  .headline {
    @apply text-5xl;
  }
  .subheadline {
    @apply text-3xl;
  }
}

/**
* Image Hover Coloring 
* Usage: `div.image-blue>img`
*/

.image-blue {
  @apply relative;
}
.image-blue:after {
  content: '';
  mix-blend-mode: color;
  transition: all 0.4s ease;
  @apply rounded-full absolute top-0 left-0 bottom-0 right-0 bg-blue;
}
.image-blue:hover:after {
  @apply bg-red;
  mix-blend-mode: overlay;
}


/**
* Menu Icon SVG animation
*/

.menu-icon-line-top, .menu-icon-line-middle, .menu-icon-line-bottom {
  transition: all 300ms ease;
}

.menu-icon.active .menu-icon-line-middle {
  opacity: 0;
}

.menu-icon.active .menu-icon-line-bottom {
  transform: rotate(135deg) translate3d(-14px, -33px, 0px);
}

.menu-icon.active .menu-icon-line-top {
  transform: rotate(45deg) translateX(4px) translateY(-4px);
}

#navigation .nuxt-link-exact-active {
  @apply italic underline opacity-25;
}

.md p + p {
  @apply mt-2;
}
